.header-component {
    position: relative;
    width: 100%;
    height: 87px;
    margin: 20px auto;
    text-align: center;
}

.header__logo {
    width: 214px;
    height: 87px;
    cursor: pointer;
}
